<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("head.ejs"); %>
        <title>Neocities8831</title>
        <link href="/style.css" rel="stylesheet">
        <script src="/script.js" defer></script>
    </head>
    <body>
        <h1><a href="/">Neocities8831</a></h1>
        <div id="main">
            <button id="toggle">Toggle info</button>
            <form action="/" method="GET">
                <label for="page">Page (from 0): </label><input name="page" id="page" value="<%= page %>">
                <label for="per_page">Per page: </label><input name="per_page" id="per_page" value="<%= perPage %>">
                <input type="submit">
            </form>
            <p>These are found automatically at *.neocities.org and downloaded.</p>
        </div><br>
        <div id="buttons">
            <% buttons.forEach(button => { %>
                <div class="button">
                    <% if(button.url) { %><a href="<%= button.url %>" target="_blank"><% } %>
                    <img src="/imgs/<%= button.filename %>">
                    <% if(button.url) { %></a><% } %>
                    <br>
                    <a href="/info/<%= button.id %>" class="info">info</a>
                </div>
            <% }); %>
        </div>
    </body>
</html>