<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("head.ejs"); %>
        <title>Neocities8831 | Button #<%= button.id %></title>
        <link href="/style.css" rel="stylesheet">
        <script src="/date.js" defer></script>
    </head>
    <body>
        <div id="main">
            <a href="/">Back</a>
            <h1>Button #<%= button.id %></h1>
            <img width="440" height="155" src="/imgs/<%= button.filename %>" class="big"><br>
            <p>Source: <a href="<%= button.img %>"><%= button.img %></a></p>
            <p>Links to: <a href="<%= button.url %>"><%= button.url %></a></p>
            <p>Archived at: <date><%= new Date(button.date).toISOString() %></date></p>
            <p>SHA256: <%= Buffer.from(button.hash, "ascii").toString("hex") %></p>
            <p>HTML: <code><%= `${button.url ? "<a href=\"" + button.url + "\">" : ""}<img src="${button.img}">${button.url ? "</a>" : ""}` %></code>
            <br><i>Please check if hotlinking is allowed on the original website!</i></p>
        </div>
    </body>
</html>